                .login-google-btn{
                    font-size: 1.8rem;
                    background-color: #1b4dad;
                    color:#fff;
                    cursor: pointer;
                    padding: 1rem;
                    border: none;
                    border-radius: 0;
                    &:hover{
                        background-color: #fff;
                        color:#1b4dad;
                        border:2px solid #1b4dad;
                    }
                }
