.shopping-Bag {
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .bag-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .item-count {
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    bottom: 1rem;
  }
}
